body{
    height: 100%;
    margin: 20px;
}

h5{
}

h2 h3 h4{
    color: rgba(13, 144, 245, .8);
}

form{
    max-width: 600px;
}

form label{
        color: rgba(13, 144, 245, .8);
}

jjj{
    
}


.night{

}

.forecast-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
		   
}

.seven-day-item{
    border: 1px solid rgba(0, 0, 45, .3);
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    box-shadow: 4px 4px 8px rgba(10,10,20, .3);
    padding: 10px;
    width: 400px;
}

.seven-day-item h4{
    color: rgba(12, 100, 225, .7);
}

.seven-day-tem strong i{
    color: rgba(12, 100, 225, .7);
}
img{
}
